<!DOCTYPE html>
<html>
  <head>
    <link href="card.css" rel="stylesheet">
  </head>
  
  <div class="cardsection">
    
    <div class="cardwrapper">
      
      <h2 class="cardheader">Cultural Differences</h2>
      <img src="image.jpg" alt="culture image">
      
      <div class="cardcontent">
        <p>Learn how diverse cultural backgrounds can lead to incorrect acedemic acknowledgement of work</p>
      </div>
      
      <a href="#culture" ><p class="cardaction">Further Information</p></a>
      
    </div>
    
  </div>
</html>
