/* General styles */
* {
	box-sizing: border-box;
}

body{
	max-width: 74rem;
	text-align: left;
	color: #333;
	font-family: Calibri, sans-serif;
	background-color: #eaeaea;
	margin: auto;
}

.left-side{
	display: inline-block;
}

.container{
	background-color: white;
	box-shadow: 0 7px 10px rgba(0,0,0,0.25);
}

.logo{
	width: 300px;
	margin-bottom: -20px;
}

.content {
	margin: 10px 20px 0px 20px;
}

h1 {
	font-weight: 900;
	font-size: 3.5rem;
	color: #211545;
	margin: 10px 0 0 0;
}

h2 {
	font-weight: 100;
	font-size:2.5rem;
	color: #211545;
	margin: auto;
}

h3 {
	font-weight: 100;
	font-size: 1.25rem;
	color: #211545;
}

h4 {
	font-weight: 100;
	font-size: 1rem;
	color: #211545;
}

h5 {
	font-weight: 100;
	color: #211545;
}

h6 {
	font-weight: 100;
	color: #211545;
}
/* End general formatting */

/* Top Nav */
.navtop ul{
	list-style-type: none;
	padding: 0;
 	overflow: hidden;
 	background-color: #f1f1f1;
}

.navtop li a{
  	float: left;
  	display: block;
  	color: #000000;
  	text-align: center;
  	padding: 5px 15px;
  	text-decoration: none;
}

.navtop li a:hover:not(.active) {
  	background-color: #ddd;
  	color: black;
	text-decoration: underline;
}

.navtop li a.active {
  	background-color: #FFCC99;
  	color: #000000;
}
/* End top nav */

/* Breadcrumbs */
.breadnav{
	padding-bottom: .75rem;
}

.breadcrumbs li a{
	color: grey;
	text-decoration: none;
}

.breadnav li a:hover{
	text-decoration: underline;
}

.breadcrumbs{
	list-style-type: none;
}
/* End Breadcrumbs */


/* Left Nav */
.dropbtn {
	background-color: #f1f1f1;
	color: #000000;
	padding: 14px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropbtn:hover {
	background-color: #000000;
	color:white;
}

.drop {
	display: inline-block;
	position: relative;
	font-size: 16px;
	font-family: "Calibri";
}

.mobiledropdown {
	display: block;
	list-style-type: none;
	margin: 0px 10px 10px 0px;
	padding: 0px;
	max-width: 200px;
	background-color: #f1f1f1;
	float: left;
}

.drop-selection {
	visibility: hidden;
	padding: 0;
	list-style: none;
	box-shadow: 0px 8px 16px 0 rgba(0,0,0,0.2);
	position: absolute;
	left: 0;
	margin-top: 1px;
	min-width: 90%;
	background-color: #f1f1f1;
}
.drop a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

.drop li {
  padding: 8px 10px;
  cursor: pointer;
}

.drop a:hover {
	background-color: #555;
	color: white;
}

#ref{
	background-color: #ddd;
	color:black;
}

.selected{
	background-color: #f1f1f1;
	color: black;
}

.selected li{
	list-style-type: none;
	padding-left: 10px;
	font-size: 14px;
}

.selected a:hover{
	background-color: #f1f1f1;
	color: #00568e;
	text-decoration: underline;
}

.show {
	display: block;
}

.dropdown {
	display: none;
}
/* End Left Nav */

/* Information card */
.cardsection{
	float: left;
}

.cardsection h2{
	margin: 0;
}

@media (min-width: 800px) {
	.navtop li a{
		font-size: 20px;
	}
 	.navtop li a{
		padding: 10px 30px;
	}
	.navtop #about{
		float: right;
	}
	nav.navleft{
		padding-right: 0px;
	}
	.navleft li a{
		font-size: 16px;
	}
	body{
		font-size: 1.2rem;
	}
	.cardsection{
		padding: 8px;
		display: inline-block;
		width: 28%;
		float: right;
	}

	.dropdown {
		display: block;
	 	list-style-type: none;
	 	margin: 0px 10px 10px 0px;
	 	padding: 0px;
	 	max-width: 200px;
	 	background-color: #f1f1f1;
		float: left;
		margin-bottom: 700px;
		margin-right: 20px;
	}

	.dropdown a {
	 	display: block;
	 	color: #000;
	 	padding: 8px 16px;
	 	text-decoration: none;
	}

	.dropdown a:hover {
	 	background-color: #555;
	 	color: white;
	}
	.mobiledropdown{
		display: none;
	}
	.botcardwrapper{
		width: 40%;
	}
}

.cardwrapper{
	display: block;
	border-radius: 20px;
	margin: 10px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.25);
}

#cardimage{
	width:100%;
}

.botcardwrapper{
	display: block;
	border-radius: 20px;
	margin: 20px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.25);
}

.botsection{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

div:hover.botcardwrapper{
	box-shadow: 0 7px 10px rgba(0,0,0,0.25);
  	transition-timing-function: ease, ease-out;
  	transition: .4s;
	transform:scale(1.05, 1.05);
}

.cardheader{
	background-color: #f3f2f5;
	color: #056571;
	font-size: 1.25rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-radius: 20px 20px 0px 0px;
	text-align: center;
}

.cardcontent{
	font-size: 0.900rem;
	padding-left: 1rem;
	margin: auto;
	height: 65px;
	text-align: center;
}

.cardaction{
	background-color: #f3f2f5;
	color: #444;
 	cursor: pointer;
 	padding: .6rem .6rem .6rem 0px;
 	width: 100%;
	height: auto;
	text-align: center;
	border-radius: 0px 0px 20px 20px;
	overflow: hidden;
	margin: auto;
}

.cardwrapper a{
	text-decoration: none;
}

.active, .cardaction:hover {
 	background-color: #ddd;
	text-decoration: underline;
}
/* End Card */
