/* General formatting */
* {
	box-sizing: border-box;
}

body{
	text-align: left;
	color: #333;
	font-family: Calibri, sans-serif;
}

.container{
	max-width: 1200px;
	margin: auto;
}

.logo img{
	width: 300px;
	margin-bottom: -20px;
}

.content {
	margin: 20px 0 10px 0px;
}

h1 {
	font-weight: 900;
	font-size: 3.5rem;
	color: #211545;
	margin: 0px;
}

h2 {
	font-weight: 100;
	font-size:2.5rem;
	color: #211545;
	margin: auto;
}

h3 {
	font-weight: 100;
	font-size: 1.25rem;
	color: #211545;
}

h4 {
	font-weight: 100;
	font-size: 1rem;
	color: #211545;
}

h5 {
	font-weight: 100;
	color: #211545;
}

h6 {
	font-weight: 100;
	color: #211545;
}
/* End general formatting */

/* Top Nav */
.navtop ul{
	list-style-type: none;
  	padding: 0;
 	overflow: hidden;
 	background-color: #f1f1f1;
}

.navtop li a{
  	float: left;
  	display: block;
  	color: #000000;
  	text-align: center;
  	padding: 5px 15px;
  	text-decoration: none;
}

.navtop li a:hover:not(.active) {
  	background-color: #ddd;
  	color: black;
	text-decoration: underline;
}

.navtop li a.active {
  	background-color: #FFCC99;
  	color: #000000;
}
/* End top nav */

/* Breadcrumbs */
.breadnav{
	
}

.breadcrumbs li a{
	color: grey;
	text-decoration: none;
}

.breadnav li a:hover{
	text-decoration: underline;
}

.breadcrumbs{
	list-style-type: none;
}
/* End Breadcrumbs */

.left-side{
	float: left;
}


/* Left Nav */
.dropbtn {
	background-color: #f1f1f1;
	color: #000000;
	padding: 14px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropbtn:hover:not(.active) {
	background-color: #000000;
	color:white;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {
	background-color: #ddd;
	text-decoration: underline;
}

#ref{
	background-color: #ddd;
}

.selected{
		background-color: #f1f1f1;
		color: black;
}

.selected li{
	list-style-type: none;
	padding-left: 10px;
	font-size: 14px;
}

.selected a:hover{
	background-color: #f1f1f1;
	color: #00568e;
}

.show {
	display: block;
}
/* End Left Nav */

/* Information card */
.cardsection{
	float: left;
	padding: 8px;
}

.cardsection h2{
	margin: 0;
}

@media (min-width: 800px) {
	.navtop li a{
		font-size: 20px;
	}
 	.navtop li a{
		padding: 10px 30px;
	}
	.navtop #about{
		float: right;
	}
	nav.navleft{
		padding-right: 0px;
	}
	.navleft li a{
		font-size: 16px;
	}
	.cardsection{
		float: right;
	}
	body{
		font-size: 1.125rem;
	}
	.content{
		float: left;
	}
	.left-side{
		float: left;
		width:70%;
	}

}

.cardwrapper{
	display: block;
	width: 262px;
	height: auto;
	border-radius: 20px;
	margin: 8px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.25)
}

div:hover.cardwrapper{
	box-shadow: 0 7px 10px rgba(0,0,0,0.25);
  	transition-timing-function: ease, ease-out;
  	transition: .4s;
	transform:scale(1.05, 1.05);
}

.cardheader{
	background-color: #f3f2f5;
	color: #056571;
	font-size: 1.25rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-radius: 20px 20px 0px 0px;
	text-align: center;
}

.cardcontent{
	font-size: 0.900rem;
	padding-left: 1rem;
	margin: auto;
}

.cardaction{
	background-color: #f3f2f5;
  	color: #444;
 	cursor: pointer;
 	padding: .6rem .6rem .6rem 0px;
 	width: 100%;
	height: auto;
	text-align: center;
	border-radius: 0px 0px 20px 20px;
	overflow: hidden;
}

.cardwrapper a{
	text-decoration: none;
}

.active, .cardaction:hover {
 	background-color: #ddd;
	text-decoration: underline;
}
/* End Card */
